.idea/
.myrobotlab/
haarcascades/
hogcascades/
lbpcascades/
libraries/
mary/
msgs/
pids/
ProgramAB/
repo/
resource/
*.log
*.dll
ivychain.xml
repo.json
audioFile/
InMoov/chatbot/bots/fr/aiml/folder_updated