;----------------------------- ARDUINOS CONFIG ----------------------------------------
[MAIN]

;my rightport if used ( /dev/ttyUSB0 for linux/macos )
MyRightPort=COM4
BoardTypeMyRightPort="atmega238p"
ArefRightArduino="DEFAULT"

;my leftport if used
MyLeftPort=COM3
BoardTypeMyLeftPort="atmega328p"
ArefLeftArduino="DEFAULT"

ForceArduinoIsConnected=True
; BoardType Info
; atmega2560 (ARDUINO MEGA) | atmega168 | atmega328 | atmega328p (arduino UNO)| atmega1280 | atmega32u4

;----------------------------------- END --------------------------------------------------


